$navHeaderHeight: 60px;
$headerPagesHeight: 300px;

$blackColor: black;
$WhiteColor: white;
$buttonColor: #30a2dbcc;
$hoverColor: #213f76e6;
$hoverLight: #c7e5ed;

$blue: #004bd5;
$main: #0373af;
$primary: #30a2dbcc;

$bgColor: #3f427aad;

$shadowColor: #000000c7;
$contact: #ced2e5;
$border-color: #ffffff8f;

$first: #213f76;
$red: red;
$textColor: #314470;
